@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Work Sans', sans-serif; */

.col1{
    height: 300px;
    border:solid 1px gold;
}

.col2{
  height: 300px;
  border:solid 1px red;
}

.container-fluid{
  position: relative;
}

.bg-image{
background: url('../img/rLimerick1220.jpg') no-repeat center center;
height: 300px;
width:100%;
}

.bg-opaque{
  height: 300px;
  width: 100%;
  top:0px;
  right:0px;
  position:absolute; /*fix in place by settinh positin absolute */
    /*note the parent container mus thave
  position:relative; "hero-outer" */
  background-color: rgba(46, 49, 49, .5); /*opacity*/
}

.form-header{
  padding-left: 15px;
}

.form-row{
padding: 5px 15px;
}

#quick-quote{
  top:10px;
  padding:10px;
}


/*------------ Welcome text --------------*/
.welcometext {
    font-family: "Work Sans",sans-serif;
    color:white;
    letter-spacing: 2px;
    padding-top: 50px;
    padding-left:50px;

}

.welcometext p{
    font-family: "Roboto",sans-serif;
}

/*------------ Quick Contact Form --------------*/
.form-header{
    font-family: "Work Sans",sans-serif;
    color:white;
    letter-spacing: 4px;
    padding-left: 15px;
}
.form-row{
padding: 5px 15px;
}

#quick-quote{
  top:10px;
  padding:10px;
}


@media screen and (max-width: 770px){
    .bg-image{
    height: 600px;
    }

    .bg-opaque{
  height: 600px;
    }
}